@import 'src/app/app/variables.scss';

:host {
    perspective: 1000px;
}

.card {
    width: 7rem;
    height: 9rem;
    border-radius: map-get($map: $border-radius, $key: 3);
    box-shadow: $box-shadow-4dp;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;

    &__back-face,
    &__front-face {
        position: absolute;
        backface-visibility: hidden;
        background-color: #e5e5f7;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: map-get($map: $border-radius, $key: 3);
        overflow: hidden;
    }

    &__back-face {
        @include card-back-face;
    }

    &__front-face {
        transform: rotateY(180deg);
        display: flex;
        align-items: stretch;
        justify-content: stretch;
    }

    &__image {
        background-size: cover;
        flex-grow: 1;
        padding: .5rem;
        display: flex;
        align-items: start;
        background-position: center center;
    }

    &__title {
        color: white;
        font-size: 1rem;
        margin: 0;
        border-radius: $border-radius-rounded;
        padding: .25rem .5rem;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &--is-visible {
        transform: rotateY(180deg);
    }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    .card {
        width: 11rem;
        height: 14rem;
    }
}