@if (card) {
<div class="card" [ngClass]="{'card--is-visible': visible, 'card--is-completed': completed}">
    <div class="card__back-face"></div>
    <div class="card__front-face">
        @if (visible) {
        <div class="card__image" [@fadeOut] [ngStyle]="getCardImage(card)">
            <p class="card__title">{{card.meta.name}}</p>
        </div>
        }
    </div>

    @if (completed) {
    <div class="completed">
        <div class="completed__inner">
            <div class="completed__ripple"></div>
        </div>
    </div>
    }
</div>
}