<div class="header">
    <div class="d-flex justify-content-between align-items-center gap-1 gap-md-3 gap-md-4 py-2 container flex-wrap">
        <h1 class="header__name" (click)="resetName.emit()">Hi, {{userName}}</h1>
        <p class="header__difficulty me-auto">{{difficulty.label}}</p>
        <div class="score d-flex align-items-center gap-2">
            <p class="score__title">Score:</p>
            <p class="score__value-success">Success: <strong>{{scoreSuccess}}</strong></p>
            <p class="score__value-error">Error: <strong>{{scoreError}}</strong></p>
        </div>
        @defer (on idle) {
        <app-new-game-button></app-new-game-button>
        }
    </div>
</div>

<div class="container py-5">
    @if (loading) {
    <app-loading [@fade]></app-loading>
    } @else {
    @if (httpError) {
    <p class="error-text" [@fade]>{{httpError.message}}</p>
    } @else {

    <div class="d-flex gap-4 flex-wrap" [@cards]="cards.length">
        @for (card of cards; track card.meta.uuid; let index = $index) {
        <app-card [card]="card" [visible]="isCardVisible(index)" [completed]="isCardCompleted(index)"
            (click)="showCard(index)"></app-card>
        }
    </div>


    @if (isGameOver) {
    @defer(when isGameOver) {
    <app-game-over [userName]="userName" [scoreSuccess]="scoreSuccess" [scoreError]="scoreError"
        [difficulty]="difficulty"></app-game-over>
    }
    }

    }
    }
</div>