@import 'src/app/app/variables.scss';

.score {
    &__title,
    &__value {
        margin: 0;
        font-size: 1rem;
    }

    &__value-error {
        @include badge-error;
    }

    &__value-success {
        @include badge-success;
    }
}

.header {
    backdrop-filter: blur(23px) saturate(4.5);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, .4);

    &__name {
        margin: 0;
        cursor: pointer;
        max-width: 100%;
    }

    &__difficulty {
        @include badge-value;
        background-color: $bg-primary;
    }
}

.error-text {
    color: $error-text;
}

.card-game-over {
    animation: game-card-game-over .6s linear;
}

@keyframes game-card-game-over {
    0% {
        transform: translateY(0) rotateY(0);
    }
    25% {
        transform: translateY(0) rotateY(90deg);
    }
    50% {
        transform: translateY(-1rem) rotateY(0);
    }
    75% {
        transform: translateY(0) rotateY(90deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
    }
}