<div class="container form-container py-5">
    <h1 class="m-0">Please pick a name</h1>
    <form [formGroup]="form" (ngSubmit)="submit()" (click)="form.markAllAsTouched()" class="d-flex flex-column gap-2">
        <div class="d-flex flex-column gap-1" [ngClass]="{invalid: form.controls.userName.status === 'INVALID'}">
            <p class="m-0 form-label">User name</p>
            <input type="text" class="input" formControlName="userName" (blur)="inputBlur()" placeholder="Your name" />
            @if (error('userName', 'required')) {
            <p class="input__error">Please insert a name</p>
            }
            @if (error('userName', 'minLength')) {
            <p class="input__error">This name is too short</p>
            }
            @if (error('userName', 'maxLength')) {
            <p class="input__error">This name is too long</p>
            }
        </div>

        <div class="d-flex justify-content-end">
            <button mat-raised-button [disabled]="!form.valid">Play Game!</button>
        </div>
    </form>
</div>