<h1 mat-dialog-title>Congratulations {{data.userName}}!</h1>
<div mat-dialog-content class="dialog d-flex flex-column gap-2 p-4">
    <h2 class="dialog__caption">Your score:</h2>
    <div class="d-flex gap-2 justify-content-center">
        <p class="dialog__value-success">Success: {{data.scoreSuccess}}</p>
        <p class="dialog__value-error">Error: {{data.scoreError}}</p>
    </div>

    <p class="m-0">Difficulty level: {{data.difficulty.label}}, Bonus: +{{data.difficulty.bonus}}</p>

    <p class="dialog__value-total">Total: {{getScore(data)}}</p>

    @if (highScores.length > 0) {
    <div class="highscores">
        <p class="highscores__title">Highscores</p>
        @for (highScore of highScores; track index; let index = $index) {
        <div class="d-flex gap-4">
            <p class="highscores__score me-auto">
                @switch (index) {
                    @case (0) { 🥇 }
                    @case (1) { 🥈 }
                    @case (2) { 🥉 }
                }
                {{highScore.name}}
            </p>
            <p class="highscores__score">{{highScore.score | number : '1.0-0'}}</p>
        </div>
        }
    </div>
    }

    <app-new-game-button mat-dialog-close></app-new-game-button>
</div>